<div th:fragment="unansweredListFragment(unanswered)">
    <div th:if="${!unanswered.isEmpty()}">
        <h2 class="group-header-text">Неотвеченные</h2>
        <table class="reviews-table">
            <thead>
            <tr>
                <th>Сообщение</th>
                <th>Статус</th>
                <th>Информация</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${unanswered}"
                class="clickable-row" th:data-href="@{/support-request/{id}(id=${request.id})}">
                <td class="message-cell">
                    <a th:href="@{/support-request/{id}(id=${request.id})}">
                        <div class="message-bubble-container">
                            <span class="message-bubble" th:text="${request.lastMessageText}"></span>
                            <span class="message-timestamp-author">
                                <span th:text="${#temporals.format(request.lastMessageAt, 'dd-MM-yyyy HH:mm')}"></span>
                            </span>
                        </div>
                    </a>
                </td>
                <td th:text="${request.status.displayName}"></td>
                <td>
                    <div class="note-container">
                        <span th:text="${request.information()}" class="note-author"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${unanswered.isEmpty()}" id="no-unanswered-message">
        <p>На данный момент нет неотвеченных обращений.</p>
    </div>
</div>