/* common.css */

@charset "UTF-8";

/* ================== Глобальные стили ================== */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    font-size: 1em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center-content {
    text-align: center;
}

/* ================== Стили для шапки (header) ================== */
.header-container {
    padding: 10px 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-title {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.header-user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-user-info p, .header-user-info form {
    margin: 0;
}

.header-user-info button {
    background-color: transparent;
    border: none;
    color: #007bff;
    padding: 0;
    cursor: pointer;
    font-size: 1em;
}

.logout-icon {
    color: #007bff;
    font-size: 1.2em;
    margin-right: 5px;
}