<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/support.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <script type="module" th:src="@{/js/global.js}"></script>
    <script type="module" th:src="@{/js/support-request.js}"></script>
</head>

<body>

<div th:replace="~{fragments/header :: header(pageTitle=${pageTitle}, username=${username})}" id="top"></div>

<div class="main-content-wrapper">

    <div class="top-info-bar">
        <a href="/reviews" class="back-button"><i class="fas fa-arrow-left"></i></a>
        <div class="status-buttons">
            <a th:each="status : ${T(avishgreen.amvera.crm.enums.SupportRequestStatusType).values()}"
               th:href="@{/support-request/update-status(id=${request.id}, status=${status})}"
               th:text="${status.displayName}"
               class="status-button"
               th:classappend="${request.status == status} ? 'active' : ''"></a>
        </div>
    </div>

    <div class="message-history-block">
        <div class="info-item-row">
            <div class="info-item">
                <span class="info-label">Автор:</span>
                <span class="info-value" th:text="${request.authorName}"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Другие участники:</span>
                <span class="info-value">
                    <span th:each="participant, iterStat : ${request.participantNames}">
                        <span th:text="${participant}"></span><span th:if="${!iterStat.last}">, </span>
                    </span>
                </span>
            </div>
        </div>
        <h2 class="block-header">Контекст переписки</h2>
        <a href="#bottom" class="go-to-bottom-button tile-button"><i class="fas fa-arrow-down"></i></a>

        <div class="new-message-form-container">
            <div id="send-message-form" class="new-message-form" th:data-request-id="${request.id}">
                <textarea id="message-text-input" placeholder="Введите ваше сообщение..." rows="4" aria-label="Сохранить заметку"></textarea>
                <button id="send-message-button" class="send-button" aria-label="Отправить сообщение"><i class="fas fa-arrow-right"></i></button>
            </div>
        </div>

        <div th:each="message : ${request.messages}" class="message-container">

            <div th:if="${message.previewMediaId != null or message.fullSizeMediaId != null}" class="message-media-container">

                <div th:with="displayId=${(message.previewMediaId != null) ? message.previewMediaId : message.fullSizeMediaId},
                              linkId=${(message.fullSizeMediaId != null) ? message.fullSizeMediaId : message.previewMediaId}">

                    <div class="media-item">
                        <a th:href="@{/media/{mediaId}(mediaId=${linkId})}" target="_blank" title="Открыть полный размер">
                            <img th:src="@{/media/{mediaId}(mediaId=${displayId})}"
                                 alt="Превью изображения"
                                 class="media-image"
                            />
                        </a>
                    </div>
                </div>
            </div>

            <div class="message-bubble" th:classappend="${message.sender.id == request.authorId} ? 'author-message-bubble' : ''">
                <p th:text="${message.messageText}"></p>
            </div>
        </div>
        <a href="#top" class="go-to-top-button tile-button"><i class="fas fa-arrow-up"></i></a>
    </div>

    <div class="note-block">
        <div class="my-notes-section">
            <div class="note-header">
                <span class="note-label">Мои заметки</span>
                <button id="save-note-button" class="save-note-button"
                        th:data-author-id="${request.authorId}"
                        th:data-creator-id="${appUser.id}">
                    <i class="fas fa-save"></i>
                </button>
            </div>
            <div class="note-value">
                <textarea id="note-textarea" name="note" rows="5"
                          th:text="${!myNotes.isEmpty() ? myNotes.get(0).noteText : ''}"
                          aria-label="Сохранить заметку">
                </textarea>
            </div>
        </div>

        <div class="other-notes-section" th:if="${!otherNotes.isEmpty()}">
            <h3 class="block-header">Заметки других модераторов</h3>
            <div th:each="note : ${otherNotes}" class="other-note-item">
                <div class="other-note-text" th:text="${note.noteText}"></div>
                <div class="other-note-info">
                    <span th:text="${note.creatorUsername}"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="past-requests-block">
        <h2 class="block-header">Предыдущие обращения</h2>
        <table class="reviews-table">
            <thead>
            <tr>
                <th>Сообщение</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pastRequest : ${pastRequests}"
                class="clickable-row" th:data-href="@{/support/{id}(id=${pastRequest.id})}">
                <td class="message-cell">
                    <a th:href="@{/support-request/{id}(id=${pastRequest.id})}">
                        <div class="message-bubble-container">
                            <span class="message-bubble" th:text="${pastRequest.lastMessageText}"></span>
                            <span class="message-timestamp-author">
                                    <span th:text="${#temporals.format(pastRequest.lastMessageAt(), 'dd-MM-yyyy HH:mm')}"></span>
                                </span>
                        </div>
                    </a>
                </td>
                <td th:text="${pastRequest.status.displayName}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div id="bottom"></div>

</body>
</html>